In [1]:
import pandas as pd
import numpy as np

In [2]:
car_sales = pd.read_csv('../data/car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [8]:
# Features
X = car_sales.drop('Price', axis=1)

# Labels / regress
y = car_sales['Price']

In [9]:
# Transform text to numerical for ML to work
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Encoder
encoder = OneHotEncoder()
# Feature - Categories
category_features = ['Make', 'Colour', 'Doors']
# Transform
transformer = ColumnTransformer([('categories', encoder, category_features)],
                               remainder='passthrough')
transformer.fit(X)
transformed_X = transformer.transform(X)
transformed_X_df = pd.DataFrame(transformed_X)
transformed_X_df.head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [12]:
# Get Train and test Data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X_df, y, test_size=0.2)

In [13]:
# Fit to a model
from sklearn.ensemble import RandomForestRegressor

# Fit
model = RandomForestRegressor()
model.fit(X_train, y_train)

# Score
model.score(X_train, y_train)

0.8924076521120615

In [14]:
model.score(X_test, y_test)

0.3351921838131554