In [1]:
import pandas as pd

In [2]:
# Series
car_brands = pd.Series(["Honda", "Maruthi", "Tata", "Toyota"])
car_brands

0      Honda
1    Maruthi
2       Tata
3     Toyota
dtype: object

In [3]:
car_colors = pd.Series(["Red","Blue","White","Black"])
car_colors

0      Red
1     Blue
2    White
3    Black
dtype: object

In [4]:
# Data Frame
cars = pd.DataFrame({"Brand": car_brands, "Color": car_colors})
cars

     Brand  Color
0    Honda    Red
1  Maruthi   Blue
2     Tata  White
3   Toyota  Black

In [5]:
# Read / Import Data
car_sales = pd.read_csv('car-sales.csv')
car_sales.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [6]:
# Export Data
cars.to_csv('simple-cars-exported.csv', index=False)

In [9]:
# Test
cars_e = pd.read_csv('simple-cars-exported.csv')
cars_e

     Brand  Color
0    Honda    Red
1  Maruthi   Blue
2     Tata  White
3   Toyota  Black