In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)
sales = np.random.randint(1, 20, (5, 3))
sales

array([[13, 16,  1],
       [ 4,  4,  8],
       [10, 19,  5],
       [ 7, 13,  2],
       [ 7,  8, 15]])

In [3]:
np.random.seed(0)
price = np.random.randint(8, 15, (3))
price

array([12, 13,  8])

In [4]:
np.dot(sales, price).sum()

1520

In [5]:
# Pandas DF
sales_data = pd.DataFrame(sales, columns=["Almond Butter", "Peanut Butter", "Cashew Butter"], index=["Mon","Tue","Wed","Thu","Fri"])
sales_data

     Almond Butter  Peanut Butter  Cashew Butter
Mon             13             16              1
Tue              4              4              8
Wed             10             19              5
Thu              7             13              2
Fri              7              8             15

In [6]:
price_data = pd.DataFrame(price.reshape(1, 3), index=["Price"], columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])
price_data

       Almond Butter  Peanut Butter  Cashew Butter
Price             12             13              8

In [7]:
sales_data.T.shape, price_data.shape

((3, 5), (1, 3))

In [9]:
daily_totals = price_data.dot(sales_data.T)
daily_totals

       Mon  Tue  Wed  Thu  Fri
Price  372  164  407  269  308

In [10]:
sales_data["Total Sales($)"] = daily_totals.T

In [11]:
sales_data

     Almond Butter  Peanut Butter  Cashew Butter  Total Sales($)
Mon             13             16              1             372
Tue              4              4              8             164
Wed             10             19              5             407
Thu              7             13              2             269
Fri              7              8             15             308