In [1]:
import pandas as pd

In [5]:
locations = pd.read_csv("./Location.csv")

In [6]:
locations.describe()

        Location
count         49
unique        49
top     New York
freq           1

In [ ]:
len(lo)