In [9]:
import pandas as pd

In [20]:
locations = pd.read_csv("./Location.csv")

In [21]:
locations.describe()

        Location
count       1134
unique       249
top     Toulouse
freq          14

In [25]:
locations_s = locations.squeeze('columns')

In [27]:
len(locations_s)

1134

In [14]:
len(locations)

1134

In [28]:
type(locations)

pandas.core.frame.DataFrame

In [29]:
type(locations_s)

pandas.core.series.Series

In [31]:
len(locations_s.unique())

249

In [32]:
locations_s.nunique()

249