In [8]:
import pandas as pd
import numpy as np

In [9]:
product_prices_dict = {'T-shirt': 1000, 'Jeans': 345, 'Sneakers': 500, 'Laptop': 700, 'Smartphone': 250, 'Headphones': 800, 'Watch': 150, 'Backpack': 450, 'Camera': 600, 'Tablet': 900, 'Sunglasses': 200, 'Jacket': 350, 'Dress': 550, 'TV': 750, 'Gaming Console': 950, 'Printer': 400, 'Speaker': 300, 'Fitness Tracker': 850, 'Desktop Computer': 1500, 'Coffee Maker': 1200, 'Vacuum Cleaner': 1100, 'Microwave Oven': 1300, 'Blender': 1600, 'Toaster': 1700, 'Hair Dryer': 1800}

In [11]:
product_prices = pd.Series(product_prices_dict)

In [14]:
product_prices.values

array([1000,  345,  500,  700,  250,  800,  150,  450,  600,  900,  200,
        350,  550,  750,  950,  400,  300,  850, 1500, 1200, 1100, 1300,
       1600, 1700, 1800])

In [15]:
product_prices.array

<PandasArray>
[1000,  345,  500,  700,  250,  800,  150,  450,  600,  900,  200,  350,  550,
  750,  950,  400,  300,  850, 1500, 1200, 1100, 1300, 1600, 1700, 1800]
Length: 25, dtype: int64

In [17]:
product_prices.to_numpy(dtype='float')

array([1000.,  345.,  500.,  700.,  250.,  800.,  150.,  450.,  600.,
        900.,  200.,  350.,  550.,  750.,  950.,  400.,  300.,  850.,
       1500., 1200., 1100., 1300., 1600., 1700., 1800.])

In [19]:
product_prices.sort_index()

Backpack             450
Blender             1600
Camera               600
Coffee Maker        1200
Desktop Computer    1500
Dress                550
Fitness Tracker      850
Gaming Console       950
Hair Dryer          1800
Headphones           800
Jacket               350
Jeans                345
Laptop               700
Microwave Oven      1300
Printer              400
Smartphone           250
Sneakers             500
Speaker              300
Sunglasses           200
T-shirt             1000
TV                   750
Tablet               900
Toaster             1700
Vacuum Cleaner      1100
Watch                150
dtype: int64

In [20]:
product_prices.sort_values()

Watch                150
Sunglasses           200
Smartphone           250
Speaker              300
Jeans                345
Jacket               350
Printer              400
Backpack             450
Sneakers             500
Dress                550
Camera               600
Laptop               700
TV                   750
Headphones           800
Fitness Tracker      850
Tablet               900
Gaming Console       950
T-shirt             1000
Vacuum Cleaner      1100
Coffee Maker        1200
Microwave Oven      1300
Desktop Computer    1500
Blender             1600
Toaster             1700
Hair Dryer          1800
dtype: int64

In [21]:
product_prices.sort_values(ascending=False)

Hair Dryer          1800
Toaster             1700
Blender             1600
Desktop Computer    1500
Microwave Oven      1300
Coffee Maker        1200
Vacuum Cleaner      1100
T-shirt             1000
Gaming Console       950
Tablet               900
Fitness Tracker      850
Headphones           800
TV                   750
Laptop               700
Camera               600
Dress                550
Sneakers             500
Backpack             450
Printer              400
Jacket               350
Jeans                345
Speaker              300
Smartphone           250
Sunglasses           200
Watch                150
dtype: int64

In [22]:
locations_df = pd.read_csv('./Location.csv')

In [23]:
locations = locations_df.squeeze('columns')

In [24]:
locations

0            Lusaka
1             Kitwe
2             Ndola
3             Kabwe
4          Chingola
           ...
1129    La Rochelle
1130         Amiens
1131        Limoges
1132       Biarritz
1133          Nancy
Name: Location, Length: 1134, dtype: object

In [25]:
locations.sort_values()

1083    Abu Dhabi
346     Abu Dhabi
960     Abu Dhabi
591     Abu Dhabi
837     Abu Dhabi
          ...
921        Zurich
307        Zurich
429        Zurich
675        Zurich
1044       Zurich
Name: Location, Length: 1134, dtype: object

In [26]:
locations.sort_index()

0            Lusaka
1             Kitwe
2             Ndola
3             Kabwe
4          Chingola
           ...
1129    La Rochelle
1130         Amiens
1131        Limoges
1132       Biarritz
1133          Nancy
Name: Location, Length: 1134, dtype: object

In [31]:
locations.sort_values(ascending=False).head()

429     Zurich
921     Zurich
1044    Zurich
552     Zurich
307     Zurich
Name: Location, dtype: object